<html>
    <style>
        .centered {
            margin: 0 auto; /* This will center the div horizontally */
            width: 50%; /* Adjust the width as needed */
            text-align: center; /* This will center the content inside the div */
          }
      
          /* CSS to change background color */
          body {
            background-color: green; /* Change the background color to green */
          }
    </style>
    <body>
        <a>Your Response Was Posted !!</a>
    </body>
</html>